/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors
$red-color: #ff3636 !default;
$red-color-dark: #b71c1c !default;
$orange-color: #f29105 !default;
$vibrant-orange-color: #ff5722 !default;
$light-orange-color: #ff784e !default;
$blue-color: #0076df !default;
$blue-color-dark: #00369f !default;
$nordic-noir-color: #023047 !default;
$cyan-color: #2698ba !default;
$light-cyan-color: color.adjust($cyan-color, $lightness: 25%);
$teal-color: #04699c !default;
$teal-color-light: #07a3f1 !default;
$green-color: #4caf50 !default; /*default: #00ab37*/
$green-color-lime: #b7d12a !default;
$green-color-dark: #009f06 !default;
$green-color-light: #81c784 !default; /* default: #ddffdd */
$green-color-bright: #11d68b !default;
$purple-color: #b509ac !default;
$light-purple-color: color.adjust($purple-color, $lightness: 25%);
$pink-color: #f92080 !default;
$rich-pink-color: #e91e63 !default;
$light-pink-color: #f06292 !default;
$pink-color-light: #ffdddd !default;
$sunflower-mango-color: #ffb703 !default;
$cheesus-color: #ffce77 !default;

$grey-color: #828282 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%) !default;
$grey-color-dark: #121212 !default; /* used to be #1c1c1d */
$grey-900: #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;
$blanco-color: #ede7e3 !default;

// Theme colors

$code-bg-color-light: #ede7e3 !default;
$code-bg-color-dark: #1e1e1e !default; /* used to be #2c3237 */

// Font awesome location
$fa-font-path: "../webfonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
$max-content-width: 930px !default
